.ql-placeholder-content {
  background-color: #922c88;
  color: white;
}
.ql-placeholder-content.contact {
  background-color: #723b6c;
  color: white;
}
.normal-style .ql-placeholder-content {
  background-color: inherit;
  color: inherit;
}

/*  Snippet Item Custom Style */

.card.snippet-item {
  border-radius: 5px;
}

.card.snippet-item.show {
  position: relative;
}
.card.snippet-item.show {
  position: absolute;
  width: 30vw;
  z-index: 20;
  background-color: #fff;
}
.overlay-snippet-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: initial;
}

.height__100 {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}
.un-selected-list.col-2 .list-item {
  transition: all 0.3s ease;
}
.un-selected-list.col-2 .list-item[data-display='false'] {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  opacity: 0;
}

/*  quill editor auto height */
.ql-container {
  height: auto !important;
}

.ql-editor {
  height: auto !important;
  min-height: 200px !important;
}

.min-h-70vh {
  min-height: 70vh;
}
.w-95 {
  width: 95%;
}

/* Email Model Header */

.email-header > * {
  width: 100%;
}
