.ql-placeholder-content {
  background-color: rgb(0, 0, 0);
  color: white;
}

.normal-style .ql-placeholder-content {
  background-color: inherit;
  color: inherit;
}

/*  Snippet Item Custom Style */

.card.snippet-item {
  border-radius: 5px;
}

.card.snippet-item.show {
  position: relative;
}
.card.snippet-item.show {
  position: absolute;
  width: 30vw;
  z-index: 20;
  background-color: #fff;
}
.overlay-snippet-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: initial;
}

.height__100 {
  height: 100%;
}

.un-selected-list.col-2 .list-item:not([data-display='false']) {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: 0;
  display: none !important;
}
