.ql-picker.ql-placeholder {
  width: 118px;
}

.ql-picker.ql-placeholder > span.ql-picker-label::before {
  content: 'Placeholders';
}

.ql-picker.ql-placeholder
  > span.ql-picker-options
  > span.ql-picker-item::before {
  content: attr(data-label);
}

ul.ql-autocomplete-menu.completions {
  list-style: none;
  padding: 5px;
  background: #efefef;
}

ul.ql-autocomplete-menu.completions li:hover {
  transform: scale(1.05);
  background: #80808012;
}

ul.ql-autocomplete-menu.completions li button {
  border: none;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #8080805c;
  padding: 3px 8px;
  background: transparent;
  margin-top: 3px;
  line-height: 1.75em;
}

ul.ql-autocomplete-menu.completions li {
  transition: all 0.5s ease;
}
